@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  }

/* CSS RESET */

* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  }

body { background-color: black; color: var(--bs-light);}
header {background-color: rgb(255, 123, 0); }
.header nav a{
    display: flex;
    align-content: 0px;
}

.header a{
    color: white;
    font-size: 30px;
}

.logo{max-width: 100px;}

.Botão-voltar{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    font-size: 50px;
    padding:0px 0px 0px;
}
.Botão-voltar button{
    font-size: 35px;
}
.Botão-voltar hr{
    color: rgb(255, 123, 0);
}
.elementosjogo .carousel-inner img{
    padding-top: 10px;
    width: 80px;
    height: 550px;
}
.elementosjogo .d-block{
    width: 280px;
    height: 300px;  
}
.elementosjogo .col-8{
    display: flex;
    align-items: center;
    font-size: 500px;
}
.col-8 img{
    width:100px;
    height:100px;
}

.elementosjogo .container{
    background-color:rgb(255, 123, 0);
    border-radius:5px;
    padding-top: 20px;
    padding-bottom: 20px;
}    

.comentarios{
    padding-top: 25px;
}
.comentarios img{
    width:70px;
    height:70px;
}
.comentario{
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(255, 123, 0);
}
.lojas .container{
    padding-top: 80px;
}
footer{ 
    background-color: rgb(255, 123, 0);
}
.elementosjogo img{max-width: 100%;}